.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 200px;
    color: black;
    border-radius: 30px;
    margin: 25px;
}

.title{
    margin-top: auto;
    color: gold;
}
.img{
    width: 130px;
    height: 130px;
}
h1{
    color: gold;
    text-align: center;
}